* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: white;
  font-family: "Times New Roman", Times, serif;
}

/* Navigation start */
nav {
  width: 100%;
  height: auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top-nav ul {
  display: flex;
  column-gap: 1.5rem;

  list-style: none;
}

.top-nav {
  padding: 1rem;
}

.top-nav a:hover {
  color: blueviolet;
}

ul a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 1.1rem;
}

#logo {
  width: 100px;
  height: auto;
  margin-bottom: 1.5rem;
}

.nav-menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  padding: 0.5rem;
  border-bottom: 2px solid black;
  border-top: 2px solid black;
  margin-bottom: 1rem;
}

.nav-menu a:hover {
  background-color: blueviolet;
}

/* Navigation end */

/* Grid start */

.recipes-grid {
  width: 90%;
  height: auto;
  max-width: 1200px;
  margin: 2.2rem auto;
  display: grid;
  justify-content: center;
  align-content: center;
  grid-template-columns: repeat(3, 1fr);
  overflow: hidden;
  gap: 1rem;
}

.menu-item img {
  width: 100%;
  height: 100%;
}

.menu-item {
  position: relative;
  max-width: 500px;
  max-height: 300px;
  box-shadow: 1px 1px #888888;
}

.menu-item p {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: bold;
  color: white;
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 20%;
  text-align: center;
  padding-top: 5%;
}

/* Grid End */
