* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: white;
  font-family: "Times New Roman", Times, serif;
}

/* Navigation start */
nav {
  width: 100%;
  height: auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top-nav ul {
  display: flex;
  column-gap: 1.5rem;

  list-style: none;
}

.top-nav {
  padding: 1rem;
}

ul a {
  text-decoration: none;
  color: black;
  font-weight: 700;
  font-size: 1.1rem;
}

#logo {
  width: 100px;
  height: auto;
  margin-bottom: 1.5rem;
}

.nav-menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  padding: 0.5rem;
  border-bottom: 2px solid black;
  border-top: 2px solid black;
  margin-bottom: 1rem;
}

/* Navigation end */
